.input {
  /* box-sizing: border-box; */
  height: 40px;
  border-radius: 20px;
  border: none;

  padding: 0 20px;
  
  color: #9E9E9E;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.input:active, .input:hover, .input:focus {
  outline: 0;
  outline-offset: 0;
}
