button {
  height: 40px;
  padding: 0 20px;

  border-radius: 50vh;
  border: none;
  
  font-size: 20px;
  font-weight: 600;
  
  transition: .5s;
}

button:hover {
  cursor: pointer;
  transform: translateY(-5px);
}

.gradient {
  background: linear-gradient(to left, #422F99, #A4BBFB, #422F99);
  background-size: 200%;
  color: #FFFFFF;
}

.gradient:hover {
  background-position: right;
}

.lightActive {
  background-color: #FFFFFF;
  color: #422F99;
  box-shadow: 0px 4px 20px rgba(66, 47, 153, 0.2);
}

.lightActive:hover {
  transform: none;
}

.light {
  background: rgba(255, 255, 255, 0.6);
  color: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(66, 47, 153, 0.2);
}

.light:hover {
  background-color: #FFFFFF;
  color: #422F99;
}
